<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zomaika</title>
    <link rel="icon" href="{{ url_for('static', filename='bootstrap-5.3.2-dist/assets/image/logo1.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link href="{{ url_for('static', filename='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css') }}" rel='stylesheet'>
  </head>
  <body>
    <div class="wrapper">
    <form class="modal-content animate" action="/log" method="POST" autocomplete="off">
      <h2>login</h2>
       <div style="height: 40px;">
        {% with messages =get_flashed_messages(with_categories=true)%}
        {% if messages %}
                        {% for category ,message in messages %}
                        <div class="alert alert-{{category}}">{{message}} </div>
                        {%endfor %}
              {% endif %}
              {% endwith %} 
       </div>
      <div class="input-box">
        <label for="email">Username:</label>
        <input type="text" placeholder="Username" name="username" />
        <i class='bx bxs-user'></i>
    
      
      </div>
      <div class="input-box"> 
        <label for="password">Password:</label>
        <input type="password" placeholder="Password" name="password" required />
        <i class='bx bxs-lock-alt'></i>
      </div>
      <div class="remember-forgot">
        <label >
          <input type="checkbox">Remember me</label>
        <a href="">forgot password?</a>
      </div>
      
     <button type="submit" class="btn">Login</button>
      <div class="register">
        <p>Don't have an account?<a href="/signup"> Register</a></p>
      </div>
    </form>
    </div>
  </body>
</html>
